/* <uniquifier>: Use a uniquifier for the class name
   <weight>: Use a value from 100 to 900

.montserrat-<uniquifier> {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}*/

@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    font-family: "Montserrat", sans-serif;
    transition: all .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden; /*cacher tout contenu qui dépasse la largeur d'un élément dans la direction horizontale*/
    scroll-padding-top: 6rem;
    scroll-behavior: smooth;
    background-color: #242424;
}

a{
    text-decoration: none;
    color: black;
}

section{
    padding: 4rem 9%;
}




.btn{
    display: inline-block;
    margin-top: 1rem;
    border-radius: .5rem;
    border: .2rem solid black;
    font-weight: bolder;
    font-size: 1.7rem;
    color: black;
    cursor: pointer;
    background: #fff;
    padding: .8rem 3rem;
}

.btn:hover{
    background: #ffd700;
}



h1{
    font-size: 3.5rem;
    margin-bottom: 5rem;
    text-align: center;
    color: white;
    font-family: "PT Sans", sans-serif;
}

h1 span{
    color: aqua;
    font-family: "PT Sans", sans-serif;
}


.knowmore{
    background-color: #8f8f8f;
    padding: 10px 20px;
}

.knowmore:hover{
    background-color: #ffd700;
    cursor: pointer;
}





/* ===== HEADER ===== */

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: black;
    color: white;
    padding: 0 1.5rem;

}


header h1 span{
    color: aqua;
}

header h1, header h1 span{
    font-family: "PT Sans", sans-serif;
    margin: 2rem 0;
}

header h1:hover, header h1 span{
    transform: scale(1.1);
}



header nav a {
    padding: 1rem;
    padding-bottom: 2.8rem;
    font-size: 1.5rem;
    color: white;
    font-weight: 500;
    position: relative; /* Assurez-vous que la position est relative pour que la bordure soit positionnée correctement */
}



header nav a::after {
    content: ""; /* Ajoutez un pseudo-élément pour créer la bordure */
    position: absolute; /* Positionnez-le par rapport à son parent */
    left: 0; /* Positionnez-le à l'extrême gauche du parent */
    bottom: 0; /* Positionnez-le au bas du parent */
    width: 0; /* Démarrez avec une largeur de 0 pour la transition */
    height: .2rem; /* Définissez la hauteur de la bordure */
    background-color: aqua; /* Couleur de la bordure */
    transition: width .4s; /* Ajoutez une transition à la largeur pour obtenir l'effet souhaité */
}

header nav a:hover::after {
    width: 100%; /* Faites en sorte que la bordure se développe de gauche à droite lors du survol */
}














#menu-bar{
    font-size: 2.5rem;
    cursor: pointer;
    display: none;
    color: white;
}


header nav a:last-child{
    color: #0ef;
}






/* ===== SECTION HOME ===== */



/* .home{
    height: 88vh;
    background-image: url(/asset/img/background-img.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: blur(10px);
} */

.home{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home img{
    width: 100%;
    height: 90vh;
    object-fit: cover;
    position: relative;
    filter: brightness(50%);
}

.hometxt{
    position: absolute;
    z-index: 500;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.home .container-txtanim{
    display: block;
    height: 5rem;
    margin-bottom: 8rem;
}

.hometxt h1{
    font-size: 7rem;
    margin: 0;
}

@supports (background-clip: text) {
    /* Utilisation de la syntaxe standard */
    .home .hometxt h1 {
      background-image: linear-gradient(to right, #0ef, white);
      background-clip: text;
      color: transparent;
    }
  }


.hometxt .txtanim{
    font-size: 5rem;
    letter-spacing: 5px;
    border-right: 5px solid #0ef;
    font-family: "PT Sans", sans-serif;
    white-space: nowrap;
    overflow: hidden;
    animation: 
        cursor .3s step-end infinite alternate;
}


@keyframes cursor {
    50% { border-color: transparent }
}



.home, .home i{
    color: white;
    font-size: 2rem;
}

.home a{
    display: block;
}

.hometxt .btn{
    width: 40rem;
    margin-bottom: 5rem;
}

.btn i{
    color: black;
}



.home .arrow i {
    animation: fleche 1s infinite alternate;
}


@keyframes fleche {
    from {
        transform: translateY(0px);
        opacity: 0;
    }
    to {
        transform: translateY(20px);
        opacity: 1;
    }
}








/* ====== SECTION A PROPOS ====== */


.about{
    background-color: #1c1c1c;
    color: white;
    padding: 10rem 9%;
}



.about .box-container{
    display: flex;
    gap: 7rem;

}

/* .about .box-container img{
    width: 200px;
    height: 200px;
    padding: .7rem;
    border: .3rem solid transparent; /* Définir une bordure transparente 
    border-image: linear-gradient(to right, #0ef, white); Utiliser un dégradé comme image de bordure 
    border-image-slice: 1;  Définir la largeur de l
    border-radius: 20rem;
} */



.about .box-container img {
    width: 200px;
    height: 200px;
    padding: .4em;
    border-radius: 20rem;
    border: .3rem solid transparent; /* Définir une bordure transparente */

    /* Utilisation de la propriété de fond pour appliquer le dégradé */
    background: linear-gradient(to right, #0ef, white); /* Utiliser un dégradé comme fond */
    -webkit-background-clip: padding-box; /* Pour s'assurer que le dégradé s'applique à l'intérieur de la bordure */
    background-clip: padding-box; /* Pour s'assurer que le dégradé s'applique à l'intérieur de la bordure */
}






.about .box-container img:hover{
    transform: scale(1.1);
}

.about .box-container .box h2{
    font-size: 2rem;
    flex: 1 1 30rem;
}

.about .box-container .box p{
    font-size: 1.8rem;
}






/* ===== SECTION SKILLS ===== */

.competences{
    background-color: #242424;
    color: white;
    /* padding: 5rem 0; */
}


.competences .box-container .box i{
    font-size: 5rem;
    color: #eaeaea;
}

.competences .box-container .box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    text-align: center;
    font-size: 1.6rem;
    width: 100%;
    flex-wrap: wrap;
    /* padding-bottom: 16rem; */
}


.competences .box-container .box .skills{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 30rem;
    height: 30rem;
    margin: 0 3rem;
}










/* ====== SECTIONS PROJETS ====== */

.realisation{
    background-color: #1c1c1c;
    padding: 30px 5px;
}

.realisation .container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.realisation .container .box{
    position: relative;

}

.realisation .container .box .img-container img{
    height: 30rem;
    width: 45rem;
    object-fit: cover;

}

.realisation .container .img-container{
    overflow: hidden;
    box-shadow: 10px 6px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 10px;
}

.realisation .container .box:hover .img-container img {
    transform: scale(1.1);
    filter: blur(3px) brightness(50%);
}


.realisation .container .link-container i{
    color: white;
    font-size: 3rem;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.realisation .container .link-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.realisation .container .box:hover .link-container i {
    opacity: 1; 
}


/* .realisation{
    position: relative;
    background-color: #1c1c1c;
    color: white;
}



.realisation .slide-container img.active{
    display: block;
}



.realisation #next, #prev{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    z-index: 100;
    height: 5rem;
    width: 5rem;
    line-height: 4.5rem;
    font-size: 2rem;
    color: white;
    border: .2rem solid white;
    cursor: pointer;
    text-align: center;
}




.realisation #next:hover, #prev:hover{
    background-color: aqua;
    color: black;
    border: .2rem solid white;
}



.realisation #prev{
    left: 3rem;
}



.realisation #next{
    right: 3rem;
}



.realisation a{
    width: 100%;
}




.realisation img{
    height: 50rem;
    width: 100%;
    object-fit: cover;
}




.realisation .slide-container{
    width: 100%;
}


.link-hvr{
    display: flex;
    font-size: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    display: none;
}

.realisation .slide-container:hover img{
    filter: brightness(10%);
}

.realisation .slide-container:hover .link-hvr{
    display: block;
}

.realisation .textappear{
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opcatity 0.3s ease;
    color: white;
    font-size: 2rem;
    display: none;
    text-align: center;
}

.realisation .slide-container:hover .textappear{
    opacity: 1;
    display: block;
}


.realisation .slide-container{
    display: none;
}

.realisation .slide-container.active{
    display: block;
    display: flex;
    justify-content: center;
} */







/* ===== SECTION CONTACT ===== */

.contact{
    background-color: #242424;
    padding-bottom: 10rem;
}

.contact a {
    font-size: 1.8rem;
    padding: 2rem;
    color: white;
}


.contact .box-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.contact .box-container .rs{
    display: flex;
    flex-direction: column;
}

.contact .box-container .rs a:hover{
    /* animation: contact .5s linear; */
    transform: translateX(10px);
}





/* ===== FORMULAIRE ===== */

.contact form{
    width: 500px;
    text-align: center;
}

.form{
    display: flex;
    justify-content: right;
    /* min-width: 100vh; */
    align-items: center;
}

.input-box .input-field{
    width: 45%;
}

form .input-box{
    display: flex;
    justify-content: space-between;
}

.field .item{
    width: 100%;
    padding: 18px;
    background: transparent;
    border: 2px solid #0ef;
    outline: none;
    border-radius: 6px;
    font-size: 16px;
    color: #ededed;
    margin: 12px 0;
}

.field.error .item{
    border-color: #d93025;
}

.field.error .error-txt{
    display: block;
}

.field .item::placeholder{
    color: rgba(255,255,255,.3);
}

.field .error-txt{
    font-size: 14.5px;
    color: #d93025;
    text-align: left;
    margin: -5px 0 10px;
    display: none;
}

form .textarea-field .item{
    resize: none;
}

form .textarea-field .error-txt{
    margin-top: -10px;
}

form button{
    padding: 12px 32px;
    background: #0ef;
    border: none;
    outline: none;
    border-radius: 6px;
    box-shadow: 0 0 10px #0ef;
    font-size: 16px;
    color: #333;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 20px;
}

form button:hover{
    box-shadow: none;
}





/* ===== FOOTER ===== */


footer{
    background-color: black;
    color: white;
    padding: 2rem;
    text-align: center;
}

footer p{
    font-size: 2rem;
}








@media(max-width:800px){

    html{
        font-size: 55%;
    }

    header{
        padding: 2rem;
    }

    header h1{
        margin: 0;
    }


    #menu-bar{
        display: block;
    }


    header nav{
        position: absolute;
        top: 100%;
        left: -120%;
        width: 100%;
        text-align: center;
        background-color: #1c1c1c;
        display: flex;
        flex-direction: column;
    }

    header nav.active{
        left: 0%;
    }

    header nav a{
        display: inline-block;
        text-align: center;
        background-color: #ffffff;
        color: black;
        border-radius: .5rem;
        padding: 1.5rem;
        margin: .5rem 1.5rem;
        font-size: 1.8rem;
    }

    header nav a:hover{
        background-color: aqua;
    }




    .about .box-container{
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }



    /* .competences .box-container .box{
        flex-wrap: wrap;
        font-size: 2rem;
        gap: 2rem;
    }

    .competences .box-container .box i{
        font-size: 8rem;
        margin-top: 3.5rem;
    } */

    

    

    .contact a {
        font-size: 2rem;
    }

    .contact a:nth-child(3) {
        text-align: left;
    }
    
    .contact a:nth-child(4) {
        text-align: left;
    }

    .realisation img{
        height: 35rem;
    }
}







@media(max-width:1000px){


    /* .about .box-container{
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    .competences .box-container .box{
        flex-wrap: wrap;
        font-size: 2rem;
        gap: 10rem;
        margin-bottom: 10rem;
    } */

    /* .competences .box-container .box .skills{
        margin: auto;
    }

    .competences .box-container .box i{
        font-size: 8rem;
    }

    .competences h1{
        margin-bottom: 10rem;
    } */


    .realisation{
        padding-bottom: 18rem;
    }
    .realisation .slide-container img{
        object-fit: cover;
        overflow: hidden;
    }

    .realisation #next, #prev{
        top: 90%;
    }

    .realisation img{
        height: 40rem;
    }

    .contact .box-container{
        display: flex;
        flex-direction: column-reverse;
        gap: 10rem;
    }

    .rs{
        border: 2px solid white;
        border-radius: 6px;
        padding: 20px 90px;
    }

}